# Sets

In Python, a set is an unordered collection of unique elements. It is defined by enclosing comma-separated values within curly braces {} or by using the set() constructor. Sets are mutable, meaning you can add or remove elements from them. However, the elements themselves must be immutable (e.g., numbers, strings, or tuples).

#### a set is an unordered collection
    Sets do  not maintain the order in which elements are inserted, as a result, sets are not suitable for indexing and slicing operations.

#### unique elements.
    sets do not allow duplicate values

#### creating a set

In [2]:
s = {'Puttu','Kadala','Dosa',234,4}
print(s)
type(s)

{'Puttu', 'Dosa', 4, 'Kadala', 234}

set

In [3]:
# using set constructor (from iterables such as list,tuple or string)
s1 = set([12,34,56,23,23])
print(s1)

s2 = set((12,3445,65,23,12))
print(s2)

s3 = set('Akshay Pattayil')
print(s3)

{56, 34, 12, 23}
{65, 12, 3445, 23}
{' ', 'y', 'a', 'h', 'l', 'P', 'A', 's', 'i', 'k', 't'}

In [4]:
# creating an empty set

s  = set()
print(s,type(s))

set() <class 'set'>

In [7]:
k = {}
type(k)

dict

#### Adding elements to a set

In [8]:
s = {'Puttu','Kadala','Dosa',234,4}
print(s)

{'Puttu', 'Dosa', 4, 'Kadala', 234}

In [9]:
s.add('Chammanthi')
s

{234, 4, 'Chammanthi', 'Dosa', 'Kadala', 'Puttu'}

#### Removing elements from a set

In [10]:
s.remove(234)
s

{4, 'Chammanthi', 'Dosa', 'Kadala', 'Puttu'}

In [12]:
s.discard(4)
s

{'Chammanthi', 'Dosa', 'Kadala', 'Puttu'}

#### the elements themselves must be immutable (e.g., numbers, strings, or tuples).

In [13]:
s1 = {2334,'asddf',(12,34,'df')}
s1

{(12, 34, 'df'), 2334, 'asddf'}

In [14]:
s2 = {232,12,[34,231,'df']}
s2

TypeError: unhashable type: 'list'

#### Set operations

In [15]:
A = {1, 2,'Akshay',5,'ho'}
B = {3, 'ha', 5,8,'Akshay'}

In [16]:
## Venn diagram

<img src = 'ven.png'>

Union

    returns a new set containing unique elements from both the sets

In [17]:
A.union(B)

{1, 2, 3, 5, 8, 'Akshay', 'ha', 'ho'}

In [18]:
A|B

{1, 2, 3, 5, 8, 'Akshay', 'ha', 'ho'}

Instersection

    returns a new set containing common elements from both the sets

In [19]:
A.intersection(B)

{5, 'Akshay'}

In [20]:
A&B

{5, 'Akshay'}

Difference

    Returns a new set containing elements from the firsts set that are not present in the second set

In [21]:
A.difference(B)

{1, 2, 'ho'}

In [23]:
A-B

{1, 2, 'ho'}

Symmetric difference

In [24]:
A.symmetric_difference(B)

{1, 2, 3, 8, 'ha', 'ho'}

In [25]:
A^B

{1, 2, 3, 8, 'ha', 'ho'}

In [28]:
(A|B) - (A&B)

{1, 2, 3, 8, 'ha', 'ho'}

In [29]:
A.union(B).difference(A.intersection(B))

{1, 2, 3, 8, 'ha', 'ho'}

#### Practical applications

In [30]:
kai = ['Mayavi','Radha','Vikraman','Kuttoosan','Luttappi','Raju','Muthu','Suppandi','Sheru','Dinkan']
kal = ['Dakini','Muthu','Sheru','Soothran','Thumpan','Luttappi','Shikari Shambu', 'Vikraman','Jumpan']

In [31]:
# TO FIND COMMON ELEMENTS

In [32]:
set(kai)&set(kal)

{'Luttappi', 'Muthu', 'Sheru', 'Vikraman'}

In [33]:
# TO REMOVE DUPLICATE VALUES

In [35]:
karanangal = ['pani','thalavedana','pani','muthassi marichu','vayuru vedana','thalavedana','pani']

In [36]:
set(karanangal)

{'muthassi marichu', 'pani', 'thalavedana', 'vayuru vedana'}