## Tuples

In Python, a tuple is an ordered collection of elements, enclosed in parentheses (). Tuples are similar to lists, but with one key difference: tuples are immutable, meaning their elements cannot be modified once created.

In [1]:
['Sadie sink',21, 'Hello']

['Sadie sink', 21, 'Hello']

In [4]:
t = ('Sadie sink',21, 'Hello')
print(t)
type(t)

('Sadie sink', 21, 'Hello')

tuple

#### Different ways of declaring a tuple

    1. Using Parentheses

In [6]:
t = ('Sadie sink',21, 'Hello')
print(t)
type(t)

('Sadie sink', 21, 'Hello')

tuple

In [16]:
# single value tuple
t = (2,)
type(t)

tuple

    2. using comma separated elements (Without parentheses)

In [7]:
t = 'Sadie sink',21, 'Hello'
print(t)
type(t)

('Sadie sink', 21, 'Hello')

tuple

In [17]:
# single value tuple
t = 2,
type(t)

tuple

    3. Using tuple() constructor c
tuple() constructor to creates a tuple from an iterable, such as a list or a string.

In [11]:
l = ['Sadie sink',21, 'Hello']
tuple(l)

('Sadie sink', 21, 'Hello')

In [12]:
s = 'Akshay Pattayil'
tuple(s)

('A', 'k', 's', 'h', 'a', 'y', ' ', 'P', 'a', 't', 't', 'a', 'y', 'i', 'l')

    4. Using tuple packing

Tuple packing allows you to create a tuple by assigning multiple values to a single tuple variable

In [20]:
v1 = 'meesakkaran'
v2 = 'Madhavan'
v3 = 453

In [14]:
t = v1,v2,v3
print(t)
type(t)

('meesakkaran', 'Madhavan', '453')

tuple

#### Nested tuple

Tuples can contain other tuples, allowing you to create nested structures

In [19]:
t = (45,'f',(3,4),34)
type(t)

tuple

In [20]:
t = (45,'f',[3,4],34)
type(t)

tuple

In [9]:
# number of elements
len(t)

4

#### Indexing and slicing

    ##### DON'T TYPE
**Tuples are ordered sequences, which means the order in which the elements are inserted remains the same. This makes them flexible for indexing and slicing just like lists. Using slicing,**

In [16]:
t = (45,'fame',[3,4],34)

In [2]:
t[0]

45

In [3]:
t[1]

'f'

In [4]:
t[-1]

34

In [5]:
t[2][0]

3

In [17]:
t[1][2]

'm'

In [6]:
# slicing
t[0:3]

(45, 'f', [3, 4])

In [8]:
t[1:3]

('f', [3, 4])

In [7]:
# last two elements
t[-2:]

([3, 4], 34)

#### tuple concatenation

In [ ]:
t1 = 
t2 = 

t3 = t1+t2

#### sum() - min() - max()

In [14]:
t=(45,1,2,6,8,78,2,6,-4)
print(max(t),'\n',min(t),'\n',sum(t))

78
 -4
 144

#### Immutability

#Tuples are similar to lists, but with one key difference: tuples are immutable, meaning their elements cannot be modified once created.

In [2]:
    my_tuple = ('apple', 'banana', 'cherry', 'date')
my_tuple[1] = 'grape'

TypeError: 'tuple' object does not support item assignment

In [3]:
new_t = my_tuple[0]+('grape',)+ my_tuple[2:]
new_t

TypeError: can only concatenate str (not "tuple") to str

In [5]:
type(my_tuple[0])

str

In [7]:
new_t = my_tuple[:1]+('grape',)+ my_tuple[2:]
new_t

('apple', 'grape', 'cherry', 'date')

In [47]:
## Can you add an element to a tuple?

In [62]:
t = ('Akshay','Pattayil','Jupyter')

In [48]:
t+('python',)

(1, 2, 45, 6, 'sf', 'python')

In [ ]:
# adding element to a speified index

In [59]:
l = list(t)
l.insert(1,'Python')

In [61]:
tuple(l)

('Akshay', 'Python', 'Pattayil', 'Jupyter')

#### sorting a tuple

In [11]:
l = [2,33,4,2,1,65]

In [12]:
sorted(l)

[1, 2, 2, 4, 33, 65]

In [13]:
l

[2, 33, 4, 2, 1, 65]

In [10]:
l.sort()
l

[1, 2, 2, 4, 33, 65]

In [14]:
t = (23,1,3,4,232,8)

In [18]:
tuple(sorted(t))

(1, 3, 4, 8, 23, 232)

#### Packing and unpacking

**Packing**
    - to create a tuple by assigning multiple values to a single tuple variable
    
**unpacking**
    - extracting values from a tuple and assigning them to separate variables.
    
**Extended unpacking**
    -  to assign multiple values from a tuple to a single variable or capture a subset of values.

In [21]:
# packing
t = v1,v2,v3
print(t)

('meesakkaran', 'Madhavan', '453')

In [22]:
# unpacking
a,b,c = t

In [26]:
c

'453'

In [27]:
# extended unpacking
t = (1,2,45,6,'sf')

In [41]:
a,*b,c = t

In [42]:
a

2

In [43]:
b

1

In [45]:
c

[45, 6, 'sf']

- Packing allows you to group values into a tuple, while unpacking enables you to extract values from a tuple and assign them to individual variables,

#### Help

In [46]:
# brief description of each of the methods available with tuples:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.