# Python Questions

In [1]:
# Print 'enna thudangiyalo?'
print('enna thudangiyalo?')

enna thudangiyalo?

In [3]:
# take user name as input and store it in a variable called 'name'
name = input('What is your name?')
name

What is your name?Akshay

'Akshay'

In [4]:
# Take user input for age and check its data type
age = input('How old are you? ')
type(age)

How old are you? 25

str

In [6]:
# typecast the data type of  age to 'int'
age = int(age)

In [7]:
type(age)

int

In [8]:
# or
age = int(input('How old are you? '))
type(age)

How old are you? 25

int

In [11]:
# print '*****'
print('*****')
print('*'*5)
print('#'*5)

*****
*****
#####

In [12]:
# type cast the following integer to string
value = 45 
value2 = str(value)
type(value2)

str

In [2]:
# Write a program that takes 'year of birth' of users as input and prints the age of user
yb = int(input('which year were you born? '))
age = 2023 - yb
print('You are {} years old'.format(age))

which year were you born? 1998
You are 25 years old

In [4]:
# print the remainder of the number 100 when divided by 19 
print(100%19)

5

In [5]:
# Add your first name, last name and age using multi line comments
'''
Akshay
Pattayil
25


'''
print('sdfsdgs')

sdfsdgs

In [6]:
# identify the error and fix it
print('It\'s just a beginning')

It's just a beginning

In [7]:
# print the number of characters in the string 'Akshay Pattayil'
string =  'Akshay Pattayil'
len(string)

15

In [8]:
# Extract 'sh' from string (slicing) and store it in s1
s1 = string[2:4]
s1

'sh'

In [10]:
# obtain 6th character from string and store it in s2
s2 = string[5]
s2

'y'

In [11]:
# concatenate s1 and s2
s1 + s2

'shy'

In [13]:
# remove the extra spaces from both sides of the below string
st = '          you guys are awesome        '
st.strip()

'you guys are awesome'